h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.container-home {
  background-color: #2e2e2e7d;
  border-radius: 2rem;
  padding: 2rem;
  max-height: 70%;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 rgb(35, 35, 35);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* ///////// Windows ////////// */

.mac-window {
  background-color: #323232cb;
}

.mac-window-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: #1b1b1b;
  border-radius: 1rem 1rem 0 0;
  z-index: 0;
}

.mac-window-header-button-master {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0.4rem;
  margin-left: 2.5%;
}

.mac-window-header-button {
  border-radius: 50%;
  z-index: 5;
  height: 0.8rem;
  width: 0.8rem;
  margin-top: 1.5%;
}

.btn-red {
  background-color: rgb(163, 54, 54);
  order: 1;
}

.btn-yellow {
  background-color: rgb(255, 170, 0);
  order: 1;
}

.btn-green {
  background-color: rgb(66, 170, 88);
  order: 1;
}

.mac-window-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 0;
  margin-top: -3%;
}

.bottom-h1 {
  padding-bottom: 30%;
}

.mockup-code-1 {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='1' stroke='hsla(259, 0%, 26%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.mockup-code-2 {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='1' stroke='hsla(259, 0%, 26%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.mac-window-2 {
  background-color: #0c2063df;
  z-index: 5;
}

/* ///////// Blinking Cursor ////////// */

.blinking-bar {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* ///////// Cursor ////////// */

.cursor-grab:active {
  cursor: grabbing;
}

/* //////////////////////////////////
  ///////// MEDIA QUERIES /////////
////////////////////////////////// */

@media screen and (min-width: 1200px) {

  .mac-window-2 {
    position: relative;
    top: -10%;
    left: 15%;
    background-color: #0c2063df;
    z-index: 5;
  }

  .all-windows-master {
    margin-top: -2.5rem;
    margin-left: 3rem;
  }

}

@media screen and (max-width: 1200px) {

  .home-title {
    margin-left: 1rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  .git-intro {
    font-size: 1.5rem;
  }

  .mac-window-header-title {
    font-size: 0.9rem;
  }

  .mac-window-2 {
    position: relative;
    margin: 0 auto;
    min-width: 90%;
    max-width: 90%;
  }

  .mac-window {
    min-width: 90%;
    max-width: 90%;
  }

  .mockup-code-2-master {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mockup-code-2 {
    min-width: 90%;
    max-width: 90%;
  }

  .mockup-code-1-master {
    display: none;
  }

  .mockup-master {
    flex-basis: 100%;
  }

  .avatar-div {
    min-width: 40%;
  }

  .mac-windows-master {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
  }

  .all-windows-master {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
