/* //////// CAROUSEL //////// */

.scale-effect:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
  filter: none;
}

.scale-effect {
  filter: brightness(0.2);
}


/* ////////// Container Window //////// */

.container-projects {
  background-color: #2e2e2e7d;
  border-radius: 1rem;
  padding: 2rem;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 rgb(35, 35, 35);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.mac-window-header-projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: #1b1b1b;
  border-radius: 1rem 1rem 0 0;
  z-index: 0;
}

.mac-window-header-button-master-projects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0.4rem;
  margin-left: 2.5%;
}

.mac-window-header-button-projects {
  border-radius: 50%;
  z-index: 5;
  height: 0.8rem;
  width: 0.8rem;
  margin-top: 1%;
}

.mac-window-header-title-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 0;
  margin-top: -1.8%;
}

/* ///////// MOUSE SCROLL ANIMATION ///////// */

.scroll-down.mouse {
  height: 100px;
}
.scroll-down.mouse span {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 60px;
  border: 2px solid #f5f5f567;
  border-radius: 50px;
  top: 5px;
}

.scroll-down.mouse.effect1 span::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #f5f5f567;
  animation: animateMousePointer 1.5s infinite;
}

@keyframes animateMousePointer {
  0% {
    transform: translateY(20px);
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.scroller-wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  z-index: 5;
}

#scroll-p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DotGothic16', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #f5f5f567;
  z-index: 5;
}

#scroll-p, .scroller-wheel {
  display: none;
}
